
.picture{
    position: absolute;
    height: 69%;
    width: 33%;
    top: auto;
    left: auto;
}
#Form{
    border: solid 2px;
    margin: 0 auto;
    width: 50%;
    padding: 24px;
    
}
.input{
    padding: 14px 12px;
    border-radius: 5px;
    border: solid 1px;
    width: 80%;
}
.input1{
    padding: 14px 12px;
    border-radius: 3px;
    border: solid 1px;
    width: 40%;
}
button{
    background-color: #030804;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
}
.center {
    width: 25px;
    height: 25px;
    margin-left: 40%;
}

.center2{
    width: 25px;
    height: 20px;
    margin-left: 6%;
    margin-top: 4%;

}

#table{
    border: solid 1px;
    margin: 0 auto;
    width: 50%;
    padding: 24px;
    
}
td, th {
    background-color: #dddddd;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#Form{
    border: solid 1px;
    margin: 0 auto;
    width: 30%;
    padding: 24px;
    
}

.input{
    padding: 14px 12px;
    border-radius: 5px;
    border: solid 1px;
    width: 80%;
}
button{
    background-color: #030804;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
}
.center {
    width: 20px;
    height: 20px;
    margin-left: 20%;
    margin-right: 20%;
    
}
#Form{
    border: solid 1px;
    margin: 0 auto;
    width: 30%;
    padding: 24px;
    
}

.input{
    padding: 14px 12px;
    border-radius: 5px;
    border: solid 1px;
    width: 80%;
    color: purple;
}
button{
    background-color: #030804;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
}
.center {
    width: 25px;
    height: 25px;
    margin-left: 40%;
}

.center2{
    width: 25px;
    height: 20px;
    margin-left: 6%;
    margin-top: 4%;

}
#text{
    display: flex;
    justify-items: right;
    padding: 5px;

}

.btn {
    background-color: white;
    border: solid 1px;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
}
#Form{
    border: solid 1px;
    margin: 0 auto;
    width: 30%;
    padding: 24px;
    
}

.input{
    padding: 14px 12px;
    border-radius: 5px;
    border: solid 1px;
    width: 80%;
}
button{
    background-color: #030804;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
}
.center {
    width: 20px;
    height: 20px;
    margin-left: 20%;
    margin-right: 20%;
    
}





